ADMIN_EMAILS=
# NEON credentials Admin-Ahangama 
DATABASE_URL=

# NEON credentials - use this pass-ahangama-neon
NETLIFY_DATABASE_URL=

JWT_SECRET=

GOOGLE_CLIENT_ID=4
VITE_GOOGLE_CLIENT_ID=4

VITE_BASE_URL=
BASE_URL=

# Google Maps credentials
GOOGLE_MAPS_API_KEY=

#AWS S3 credentials
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

#import files: 
ADMIN_IMPORT_SECRET=
VITE_ADMIN_IMPORT_SECRET=

# google analytics:ahg-dashboard:
# GA4 CONFIG
GA4_PROPERTY_ID=
GA4_MEASUREMENT_ID=
GA4_API_SECRET=

# GOOGLE SERVICE ACCOUNT
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

# SENDGRID KEYS
SENDGRID_API_KEY=
# twilio_recovery_code=EF7BST831M359F6LHBTNR3LP

# Google Maps API Key
VITE_GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_KEY=

# OpenAI API Key
OPENAI_API_KEY=

# Meta 
META_SYSTEM_USER_ACCESS_TOKEN=
META_PAGE_ID=
META_INSTAGRAM_ACCOUNT_ID=
META_GRAPH_API_VERSION=